<form action="login" method="POST">
			<fieldset class="log">
			{{{previous}}}
				<label for="username">Username</label> <input class="tb" name="username" type="text" value="Username" onClick="this.value=''" /><br />
				<label for="password">Password</label> <input class="tb" name="password" type="password" /><br />
				<input type="submit" value="Go" /><br />
			</fieldset>
			</form>