<form action="newpost" method="POST">
	<fieldset style="border-style:none;">
		<label for="title">Title</label><br />		<input class="title" name="title" type="text" value="Title here..." onClick="this.value=''" /><br />
		<label for="content">content</label><br />	<textarea class="tb" name="content" >{{prevpost}}</textarea><br />
		<input type="submit" value="Go" /><br />
	</fieldset>
</form>